module:
  mounts:
    - source: static
      target: static
    - source: layouts
      target: layouts
    - source: data
      target: data
    - source: assets
      target: assets
    - source: i18n
      target: i18n
    - source: archetypes
      target: archetypes
outputformats:
  navigation:
    basename: navigation
    mediatype: text/javascript
  Compendium:
    baseName: compendium
    mediaType: application/json
  frontmatterSchema:
    baseName: frontmatter-schema
    mediaType: application/json
    isPlainText: true
    notAlternative: true
  Embed:
    basename: embed
    mediaType: text/html
    isHtml: true
    permalinkable: true
  Pdf:
    basename: pdf
    mediaType: text/html
    isHtml: true
outputs:
  home:
    - Navigation
    - Compendium
    - frontmatterSchema
    # - Pdf  # Temporarily disabled for testing
params:
  _merge: shallow
  hugoVersion:
    enabled: true
    min: "0.133.0"
    max: "0.147.7"
    extended: true
  attributes:
    website: 2.15.0
  # not yet implemented
  docset-logo: images/logo.png # recommend minimum size of 250px x 250px. Is used on the landing page. 
  left-nav-logo: images/logo.png # if the left nav logo is different from the main logo, specify it here.
  default-logo: images/default-logo.png # if no file exists for the docset-logo path, then this logo will be used.
  enterprise-header-logo: images/default-enterprise-header-logo.png # this logo is used in the enterprise header across all docsets in the deployment.
  enterprise-header-logo-mobile: images/default-enterprise-header-logo-mobile.png # this logo is used in the enterprise header across all docsets in the deployment for mobile devices.
  
