{{ define "header" }}
    {{ partialCached "page/parentheader" . "parentheader_key" }}
{{ end }}

{{ define "section" }}
    {{ $contentRendered := .Scratch.Get "contentRendered" }}
    <section data-section="{{ .Parent.Path | strings.TrimPrefix "/" }}">
        {{ if not $contentRendered }}
{{/*            {{ .Scratch.Set "contentRendered" (partial "page/single" .) }}*/}}
            {{ $contentRendered = partial "page/single" . }}
        {{ end }}
        {{ $contentRendered }}
    </section>
{{ end }}

{{ define "footer" }}
    {{ $footerRendered := .Scratch.Get "footerRendered" }}
    {{ if not $footerRendered }}
{{/*        {{ .Scratch.Set "footerRendered" (partialCached "page/footer" .) }}*/}}
        {{ $footerRendered = partialCached "page/footer" . }}
    {{ end }}
    {{ .Scratch.Get "footerRendered" }}
{{ end }}