{{- $outputFormat := $.Scratch.Get "output-format" -}}
<div aria-label="breadcrumb" class="breadcrumb">
    <li><a href="{{.Site.BaseURL}}"{{if $outputFormat}} target="_blank" rel="noopener"{{end}}>{{ .Site.Title }}</a></li>
    {{- range $index, $ancestor := .Ancestors.Reverse -}}
    {{ if $outputFormat -}}
    {{ with $ancestor.OutputFormats.Get $outputFormat -}}
    <li><a href="{{ $ancestor.RelPermalink }}">{{ $ancestor.LinkTitle }}</a></li>
    {{- end }}
    {{- end }}
    {{ else }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end -}}
    <li class="active">{{ .LinkTitle }}</li>
</div>