{{ define "content" }}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Site.RegularPages.ByDate.Reverse }}
                <tr>
                    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                    <td>{{ .Params.Author }}</td>
                    <td>{{ .Params.Date.Format "Jan 2, 2006" }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}