<div class="techstack-table">
    <table>
        <tr>
            <th>Technology</th>
            <th>Binomial</th>
            <th>Lifecycle</th>
            <th>Status</th>
            <th>Support</th>
            <th>Host</th>
        </tr>
{{ with $.Site.Data.techstack.technologies }}
        {{ range $k, $v := . }}
        <tr>
            <td><a href="{{ printf "%s%s#%s" (strings.TrimSuffix "/" $.Page.Site.BaseURL) $v.section $k }}">{{ $k }}</a></td>
            <td>{{ $v.binomial }}</td>
            <td>{{ index (index $.Site.Data.techstack.lifecycle $v.lifecycle) "label" }}</td>
            <td>
                {{ with $v.status }}
                    {{ index (index $.Site.Data.techstack.status $v.status) "label" }}
                {{ end }}
            </td>
            <td>
                {{ with $v.status }}
                    {{ index (index $.Site.Data.techstack.status $v.status) "sla" }}
                {{ end }}
            </td>
            <td>
                {{ with (index $v "host-with") }}
                    {{ range . }}
                        {{ with (index $.Site.Data.techstack.hosts .) }}
                            <a href="{{ .url }}">{{ .label }}</a>
                        {{ end }}
                    {{ end  }}
                {{ end }}
            </td>
        </tr>
        {{ end }}
{{ end }}
    </table>
</div>
